    <div style="padding:2px">
		<ol class="breadcrumb">
			<li>Cart</li>
		</ol>
	</div>
	
	
		<div class="container">
		
			<div class="row row-content">
				<div class="media" ng-repeat="product in cartProducts">
					<div class="col-xs-9">
					
						<div class="media-left media-middle">
							<a ui-sref="tip.details">
							<img class="media-object img-thumbnail" style="max-height:150px;"
							ng-src={{product.image}}>
							</a>
						</div>
						<div align="center" class="media-body media-middle">
							<h4>{{product.name}}</h4>
						</div>
	
						<div align="center" class="media-body media-middle">
							<div class="input-group col-xs-4">
							  <span class="input-group-addon">QTY</span>
							  <input type="text" class="form-control"  value="{{product.times}}">
							</div>
			
							
						</div>

					</div>
					<div style="padding:55px;" class="col-xs-3">
						<h4>{{product.times * product.price | currency}}</h4>
					</div>
					
				</div>
					
					
					
					
				</div>
				
			</div>
			<p></p>
		<div class="container">
		
			<div class="row row-content">
				
				<div class="col-xs-9">
					
					<div style="padding:20px;" align="center">
						<h4>Total:</h4>
					</div>
						
				</div>
				<div style="padding:20px;" class="col-xs-3">
					<h4>{{total | currency}}</h4>
					<button class="btn btn-default" ng-click="buy()">
						<h4>Buy</h4>
					</button>
				</div>
					
			</div>
				
		</div>
			
	
<p></p>
