

    <div style="padding:2px">
		<ol class="breadcrumb">
			<li>Products > Clothing</li>
		</ol>
	</div>
	<div style="padding:2px;" class="container">
		 <form class="form-horizontal row row-content">

			<div  class="col-xs-12" >
				<label for="hola" class="col-sm-2 control-label">Show:</label>
				<div class="btn-group" id="hola">
					<div  class="btn btn-default btn-md" ng-click="select(1)">
					   All
					</div>
					<div  class="btn btn-default btn-md" ng-click="select(2)">
					  Shirts
					</div>
					<div  class="btn btn-default btn-md" ng-click="select(3)">
					  Pants
					</div>
					<div  class="btn btn-default btn-md" ng-click="select(4)">
					  Decks
					</div>
					<div  class="btn btn-default btn-md" ng-click="select(5)">
					  Trucks
					</div>
					<div  class="btn btn-default btn-md" ng-click="select(6)">
					  Wheels
					</div>
				</div>
			</div>	
		</form>
	</div>
	<p></p>
    <div style="padding:2px;" class="container">
        <div class="row row-content" >
		<p></p>
            <div class="col-xs-12" >
                <ul class="media-list" >
					<div class="col-xs-4 well" style="height:250px;" ng-repeat="product in products | filter:{category: filtText}">
						<a ui-sref="app.productdetails({id:product._id})">
						<div class="media-heading">
							
							<img class="media-object img-thumbnail" style="max-height:50%; max-width:50%"
							ng-src={{product.image}} alt="thumbnail">
							
						</div>
						
						<div class="media-body">
							<p>{{product.name}}
							 <span class="label label-danger">{{product.label}}</span>
							 <span class="badge">{{product.price | currency}}</span></p>
						</div>
						
						</a>
					</div>
				
                </ul>
            </div>
		<p></p>
        </div>
    </div>
