    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding:5px" ui-sref="app"><img  src="images/logo.png" height=50 width=100></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app"><span class="navbar-span">HOME</span></a></li>
                    <li class="dropdown">
					  <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="navbar-span">PRODUCTS</span><span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a ui-sref="app.clothing"><span class="navbar-span">CLOTHING</span></a></li>
						<li><a ui-sref="app.workshop"><span class="navbar-span">WORKSHOP</span></a></li>
						<li><a ui-sref="app.tips"><span class="navbar-span">TIPS AND TRICKS </span></a></li>
					  </ul>
					</li>
				
					</li>	 
                    <li><a ui-sref="app.cart"><span class="navbar-span">CART</span></a></li>
                    <li><a ui-sref="app.wishes"><span class="navbar-span">WISHES</span></a></li> 
                    <li><a ui-sref="app.contactus"><span class="navbar-span">CONTACT</span></a></li>
                    <li><a ui-sref="app.login"><span class="navbar-span">LOGIN</span></a></li>
 
                </ul>
            </div>
        </div>
    </nav>         
               
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
			    <p style="padding:2px; opacity:1;"></p>
                <div class="col-xs-12">
                <img src="images/title.png" class="img-responsive">
				<p style="padding:2px;"></p>
                </div>
				
            </div>
        </div>
    </header>