		
    <div style="padding:2px">
		<ol class="breadcrumb">
			<li>Home</li>
		</ol>
	</div>
	
   <div class="container">
   
	    <div class="row">
            <div class="col-xs-12">
				<div id="carousel1" class="carousel slide col-xs-12" data-ride="carousel" ng-controller="ProductsController">
				
						<div class="carousel-inner" role="listbox">
					
							<div class="item" ng-class="{active:!$index}" ng-repeat="product in products | filter:{label:'New'}" >
								<img class="img-responsive"
								 ng-src={{product.image}} alt="Product Image">
								<div class="carousel-caption">
								<h2>{{product.name}}  <span class="label label-danger">{{product.label}}</span> <span class="badge">{{product.price | currency}}</span></h2>
								<p>{{product.description}}</p>
								<p><a class="btn btn-default btn-xs" ui-sref="app.productdetails({id: product._id})">More &raquo;</a></p>
								</div>
							</div>

						</div>			
				
						<a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>

				
				</div>
			</div>
		
		</div>
	
	</div>
    </div>
	<p></p>
    <div class="container" >
        <div class="row row-content">
			<div class="col-xs-12">
				<div class="media">
					<div class="media-left media-middle">
						<a ui-sref="app.clothing">
						<img class="media-object img-thumbnail" style="max-height:200px;"
						src="images/clothing.png">
						</a>
					</div>
					<div class="media-body media-middle">
						<h3 class="media-heading">Our exclusive clothing</h3>

						<p>Explore the largest selection of new skateboard clothing in stock now. Get your skateboard clothing at Pressure Flip.</p>
					</div>
				</div>
			</div>
        </div>
	</div>
	<p></p>
	<div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
				<div class="media" ui-sref="app.workshop">
					<div class="media-body media-middle">
						<h3 class="media-heading">Skateboard Workshop</h2>
						<p>Build Your Own Skateboard at Pressure Flip! Choose your deck, trucks and wheels, and put them together to preview the result.</p>
					</div>
					<div class="media-right media-middle">
						<a ui-sref="app.workshop">
						<img class="media-object img-thumbnail" style="max-height:200px;"
						src="images/workshop.png" alt="Buffet">
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
		<p></p>
<div class="container">
        <div class="row row-content">
			<div class="col-xs-12">
				<div class="media">
					<div class="media-left media-middle">
						<a ui-sref="app.tips">
						<img class="media-object img-thumbnail" style="max-height:200px;"
						src="images/pressure_flip.png">
						</a>
					</div>
					<div class="media-body media-middle">
						<h3 class="media-heading">Tips and Tricks</h3>

						<p>A collection of skateboarding tricks and tips to get you started in skate basics.</p>
					</div>
				</div>
			</div>
        </div>
    </div>
	