
    <div style="padding:2px">
		<ol class="breadcrumb">
			<li>Products > Clothing</li>
		</ol>
	</div>
    <div class="container"  style="padding:5px">
        <div class="row row-content" > 
            <div class="col-xs-12" >
                <div class="media">
                    <div class="media-left media-middle">
                       
                        <img class="media-object img-thumbnail"
                         ng-src={{product.image}} >
                        
                    </div>
                    <div class="media-body media-middle">
                        <h2 class="media-heading">{{product.name}}
                         <span class="label label-danger">{{product.label}}</span>
                         <span class="badge">{{product.price | currency}}</span></h2>
                        <p>{{product.description}}</p>
						<div align="center">
						 <button  class="btn btn-lg btn-default" type="button" ng-click="addToCart()">
                         Add to Cart
						 
                       </button>
					   	<button  class="btn btn-lg btn-default" type="button" ng-click="addToWishes()">
                         Add to Wishes
                       </button>
					   </div>
                    </div>
                </div>
            </div>
			</div>
			</div>
	
			<div class="container"  style="padding:5px">
			<div class="row row-content"> 
			
			
            <div class="col-xs-9 col-xs-offset-1" style="padding:10px">
			    <h4>Customer comments
				</h4>
				
                <ul class ="list-unstyled" ng-repeat="comment in product.comments | orderBy:sort">
					<blockquote>
						<p>{{comment.rating}} Stars</p>
						<p>{{comment.comment}}</p>
						<footer>
							{{comment.author}} {{comment.date | date:"MMM, dd, yyyy"}}
						</footer>
					</blockquote>
				
				</ul>
            </div>
			
            <div class="col-xs-9 col-xs-offset-1" ng-controller="ProductCommentController">
                    <ul class="list-unstyled" ng-show="!commentForm.$invalid">
					<blockquote>
						<p>{{formComment.rating}} Stars</p>
						<p>{{formComment.comment}}</p>
						<footer>
							{{formComment.author}} {{formComment.date | date:"MMM, dd, yyyy"}}
						</footer>
					</blockquote>
                    </ul>
                <form class="form-horizontal" name="commentForm" id="commentForm"
                		ng-submit="submitComment()" ng-model="commentForm" novalidate>
					<div class="form-group" ng-class="{ 'has-error has-feedback' : commentForm.commentName.$error.required && !commentForm.commentName.$pristine }">
					  <label for="commentName" class="col-sm-2">Name</label>
					  <div class="col-sm-6">
					    <input type="text" class="form-control" id="commentName" name="commentName" placeholder="Enter Your Name"
                          ng-model="formComment.author" required >
                          <span ng-show="commentForm.commentName.$invalid && !commentForm.commentName.$pristine"
                            class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                          <span ng-show="(commentForm.commentName.$invalid || commentForm.commentName.$error.required) && !commentForm.commentName.$pristine"
                            class="help-block">Name required</span>  
					  </div>
					</div>
					<div class="form-group">
					    <label for="stars" class="col-sm-2">Number of Stars</label>
                        <div class="col-sm-6" id="stars">
							<label class="radio-inline"><input type="radio" ng-model="formComment.rating" value="1" name="optradio">1</label>
							<label class="radio-inline"><input type="radio" ng-model="formComment.rating" value="2" name="optradio">2</label>
							<label class="radio-inline"><input type="radio" ng-model="formComment.rating" value="3" name="optradio">3</label>
							<label class="radio-inline"><input type="radio" ng-model="formComment.rating" value="4" name="optradio">4</label>
							<label class="radio-inline"><input type="radio" ng-model="formComment.rating" value="5" name="optradio">5</label>
						</div>
                    </div>
					<div class="form-group" ng-class="{'has-error has-feedback' : commentForm.commentText.$error.required && !commentForm.commentText.$pristine }">
					  <label for="commentText" class="col-sm-2">Your comments</label>
					  <div class="col-sm-6">
					    <textarea class="form-control"  rows="5" ng-model="formComment.comment" id="commentText" name="commentText" placeholder="Enter Your Comments"
                          required ></textarea>
					    <span ng-show="commentForm.commentText.$invalid && !commentForm.commentText.$pristine"
                          class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="(commentForm.commentText.$invalid || commentForm.commentText.$error.required) && !commentForm.commentText.$pristine"
                          class="help-block">Comments required</span>
					  </div>	
					</div>	
					
					
					<div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-default" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>	
                </form>
            </div>
			
		            <div class="col-xs-12">
                <button class="btn btn-xs btn-default pull-right"
                    type="button" ui-sref="app.clothing">
                    Back to Clothing
                </button>
               

    
	</div>
	</div>
	</div>
