    <div style="padding:2px">
		<ol class="breadcrumb">
			<li>Products > Tips and Tricks</li>
		</ol>
	</div>

	<div class="media" ng-repeat="tip in tips">
		<div class="container" style="padding:1px">
			<div class="row row-content">

					<div class="col-xs-12">
						<h3 align=center>{{tip.name}}</h3>
					</div>
					<div class="media-left media-middle">
						<a ui-sref="tip.details">
						<img class="media-object img-thumbnail" style="max-height:200px;"
						ng-src={{tip.image}} alt="Tip">
						</a>
					</div>
					<div class="media-body media-middle">
						{{tip.description}}
					</div>
					<p></p>
					<div align="center">
					<iframe width="360" height="200" ng-src="{{getTipUrl(tip)}}" allowfullscreen></iframe>
				
                    </div>
					<p></p>
				</div>
				
			</div>
			
	</div>
<p></p>