    <div style="padding:2px">
		<ol class="breadcrumb">
			<li>Wishes</li>
		</ol>
	</div>
	
    <div style="padding:2px;" class="container">
        <div class="row row-content" >
		<p></p>
            <div class="col-xs-12" >
                <ul class="media-list" >
					<div class="col-xs-4 well" style="height:250px;" ng-repeat="product in wishesProducts">
						<a ui-sref="app.productdetails({id:product._id})">
						<div class="media-heading">
							
							<img class="media-object img-thumbnail" style="max-height:50%; max-width:50%"
							ng-src={{product.image}} alt="thumbnail">
							
						</div>
						
						<div class="media-body">
							<p>{{product.name}}
							 <span class="label label-danger">{{product.label}}</span>
							 <span class="badge">{{product.price | currency}}</span></p>
						</div>
						
						</a>
					</div>
				
                </ul>
            </div>
		<p></p>
        </div>
    </div>
	
	
<p></p>
