    <div style="padding:2px">
		<ol class="breadcrumb">
			<li>Products > Workshop</li>
		</ol>
	</div>
	
    <div style="padding:2px;" class="container">
        <div class="row row-content" >
		<h4>1. Select your Deck:<h4>
            <div class="col-xs-12" >
                <ul class="media-list" >
					<div class="col-xs-4 well" style="height:250px;" ng-repeat="product in products | filter:{category: 'decks'}">
						<a href="" ng-click="selectDeck(product)">
						<div class="media-heading">
							
							<img class="media-object img-thumbnail" style="max-height:50%; max-width:50%"
							ng-src={{product.image}} alt="thumbnail">
							
						</div>
						
						<div class="media-body">
							<p>{{product.name}}
							 <span class="label label-danger">{{product.label}}</span>
							 <span class="badge">{{product.price | currency}}</span></p>
						</div>
						
						</a>
					</div>
				
                </ul>
            </div>
		<p></p>
        </div>
    </div>
    <div style="padding:2px;" class="container">
        <div class="row row-content" >
		<h4>2. Select your Trucks:<h4>
            <div class="col-xs-12" >
                <ul class="media-list" >
					<div class="col-xs-4 well" style="height:250px;" ng-repeat="product in products | filter:{category: 'trucks'}">
						<a href="" ng-click="selectTrucks(product)">
						<div class="media-heading">
							
							<img class="media-object img-thumbnail" style="max-height:50%; max-width:50%"
							ng-src={{product.image}} alt="thumbnail">
							
						</div>
						
						<div class="media-body">
							<p>{{product.name}}
							 <span class="label label-danger">{{product.label}}</span>
							 <span class="badge">{{product.price | currency}}</span></p>
						</div>
						
						</a>
					</div>
				
                </ul>
            </div>
		<p></p>
        </div>
    </div>
    <div style="padding:2px;" class="container">
        <div class="row row-content" >
		<h4>3. Select your Wheels:<h4>
            <div class="col-xs-12" >
                <ul class="media-list" >
					<div class="col-xs-4 well" style="height:250px;" ng-repeat="product in products | filter:{category: 'wheels'}">
						<a href="" ng-click="selectWheels(product)">
						<div class="media-heading">
							
							<img class="media-object img-thumbnail" style="max-height:50%; max-width:50%"
							ng-src={{product.image}} alt="thumbnail">
							
						</div>
						
						<div class="media-body">
							<p>{{product.name}}
							 <span class="label label-danger">{{product.label}}</span>
							 <span class="badge">{{product.price | currency}}</span></p>
						</div>
						
						</a>
					</div>
				
                </ul>
            </div>
		<p></p>
        </div>
    </div>
	
    <div style="padding:2px;" class="container">
        <div class="row row-content" >
		<h4>4. Watch your custom skateboard:<h4>
            <div class="col-xs-12" style="min-height:300px">
			<div class="imageWrapper">
			  <img  ng-src={{deck.imagews}}>
			  <img class="overlayImage" ng-src={{trucks.imagews}}>
			  <img class="overlayImage" ng-src={{wheels.imagews}}>
			</div>
			
            </div>
			<div align="center">
			 <button  class="btn btn-lg btn-default" type="button" ng-click="addToCart()">
			 Add to Cart
			 
		   </button>
			<button  class="btn btn-lg btn-default" type="button" ng-click="addToWishes()">
			 Add to Wishes
		   </button>
		   </div>
        </div>
			
    </div>
