
.row-header {

}
.row-content {
  background-color:rgba(119, 119, 119, 0.7);
  color: #000000

  }
.row-footer {
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 0px 0px;
  background: rgba(119, 119, 119, 0.7);
  color: floralwhite;
}
.carousel {
  background: #000000;
}
.carousel .item {
  height: 400px;
}
.carousel .item img {
  left: 0;
  min-height: 400px;
  max-height: 600px;
  position: absolute;
}

.navbar-span {
  font-size: 130%;
  height: 55px;
  color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse {
  background: rgba(34, 34, 34, 0.8);
  height: 55px;
}

.navbar-nav > li {
   height: 55px;
}

.navbar-nav > li:hover {
    background: rgba(0, 0, 0, 0.8);
}

.dropdown-menu {
    background: rgba(34, 34, 34, 0.8);
 
}

.dropdown-menu > span:hover {
	background: rgba(0, 0, 0, 0.8);
}


.navbar-inverse .navbar-nav > .active > a {

}
.navbar-inverse .navbar-nav > .active > a:hover {

}
.navbar-inverse .navbar-nav > .active > a:focus {

}
.navbar-inverse .navbar-nav > .open > a {

}
.navbar-inverse .navbar-nav > .open > a:hover {

}
.navbar-inverse .navbar-nav > .open > a:focus {


}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {


}
.navbar-inverse .navbar-nav .open .dropdown-menu {

}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 55px 0px 0px 0px;
  z-index: 0;
  background-attachment: fixed;
}

.affix {
  top: 100px;
}

.breadcrumb {
  background: rgba(119, 119, 119, 0.7);
  color: #000000;
}


#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
.imageWrapper {
  position: relative;
}
.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
}

a {
    color: black;
}

.well {
    background: rgb(220, 220, 220);
}
.well:hover {
    background: rgb(200, 200, 200);
}